::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #00213c;
    border-left: 1px solid #e0c16f;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, #020024, #002d52);
    border: 1px solid #004f97;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Century Gothic, sans-serif;
    text-shadow: 0px 0px 5px #fff;
    cursor: default;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
}

.lewo {
    width: calc(80%);
    height: 100%;
    background-image: url(../images/lewo.jpg);
    float: left;
}

.lewo video {
    width: 100%;
    height: 110%;
}

.prawo {
    position: fixed;
    right: 0;
    width: calc(20% - 40px);
    height: 100%;
    background-color: #020024;
    color: #f3efcf;
    float: right;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(to bottom right, #020024, #00213c);
}

.logowrap {
    width: 95%;
    height: 20%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-top: 20%;
    margin-bottom: -15%;
}

.logowrap img {
    width: 150%;
    height: 140%;
    margin-left: -20%;
    margin-top: -20%;
}

.loginwrap {
    min-width: 80px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 4%;
}

.langwrap {
    position: fixed;
    right: 0;
    bottom: 8%;
    min-width: 80px;
    width: 18%;
    padding-right: 0;
    height: auto;
    margin-bottom: 10px;
    margin-top: 30%;
}

.langwrap select {
    margin-bottom: 5px;
    width: 90%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    text-align-last: center;
}

.langwrap select option {
    text-align: center;
}

.formal {
    -webkit-appearance: none; /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    appearance: none;
    width: 95%;
    height: 5%;
    padding: 3%;
    background-color: #020024;
    border: 1px solid #e0c16f;
    color: white;
}

.formalsel {
    -webkit-appearance: none; /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    appearance: none;
    width: 100%;
    height: 5%;
    background-color: #020024;
    border: 1px solid #e0c16f;
    color: white;
}

.smalltxt {
    font-size: small;
}

.remember {
    width: 90%;
    height: 25px;
}

label {
    display: inline;
}

.checkbox {
    display: none;
}

.checkbox + label {
    float: left;
    background-color: #020024;
    border: 1px solid #e0c16f;
    width: 17px;
    height: 20px;
    padding-left: 3px;
    display: inline-flex;
    margin-right: 5px;
    margin-top: 2px;
    position: relative;
    text-align: center;
}

.checkbox:checked + label {
    background-color: #020024;
}

.checkbox:checked + label:after {
    content: "\2713";
    color: #f3efcf;
    text-align: center;
}

.standstill {
    width: 25px;
    height: auto;
    color: #f3efcf;
    float: left;
    padding-top: 5px;
}

.logging {
    -webkit-appearance: none; /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    appearance: none;
    width: 100%;
    height: 5%;
    padding: 4%;
    background-color: #020024;
    border: 1px solid #e0c16f;
    color: #f3efcf;
    margin-top: 5%;
    cursor: pointer;
}

.logging:hover:enabled {
    background-color: #0088a3;
    background: linear-gradient(to bottom, #0052ad, #0088a3, #0052ad);
}
.logging:disabled {
    -webkit-appearance: none; /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    appearance: none;
    width: 100%;
    height: 5%;
    padding: 4%;
    background-color: #01000c;
    border: 1px solid #9d844f;
    color: #6f6c5f;
    margin-top: 5%;
    cursor: default;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 90px;
    height: 20px;
}

.navbutton {
    width: 30px;
    height: 20px;
    float: right;
    text-align: center;
    color: #5b1a1a;
    cursor: default;
    font-size: 15px;
    font-weight: 900;
    text-shadow: 0 0 0;
    padding-bottom: 5px;
}

.navbuttonx {
    width: 30px;
    height: 20px;
    float: right;
    text-align: center;
    color: #5b1a1a;
    cursor: default;
    font-size: 15px;
    font-weight: 900;
    text-shadow: 0 0 0;
    padding-bottom: 5px;
    background-color: #d13535;
}

.navbutton:hover {
    background-color: #f53e3e;
}

.navbuttonx:hover {
    background-color: #e63b3b;
}

.linkswrap {
    position: fixed;
    bottom: 4%;
    right: 17%;
    width: 20%;
    height: auto;
    text-align: center;
    color: #f3efcf;
}

.linkswrap2 {
    color: #f3efcf;
    width: 90%;
    height: 20px;
    text-align: center;
    text-decoration: none;
}

.linkswrap2 a {
    text-decoration: none;
    color: #f3efcf;
}

.linkswrap2 a:hover {
    color: #fdff9d;
}

.versionlogin {
    position: fixed;
    color: #f3efcf;
    width: 20%;
    height: 20px;
    text-align: center;
    right: 0;
    bottom: 5%;
}

.loginerror {
    width: 100%;
    height: auto;
    color: #d17800;
    text-align: center;
    margin-top: 5%;
    text-shadow: none;
}

.blwrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 70%;
    max-width: 450px;
    max-height: 100px;
}

.bllogo {
    width: 100px;
    height: 100px;
    float: left;
}

.bllogo img {
    width: 80px;
    margin-left: 15px;
    height: 80px;
    float: none;
}

.bltext {
    color: #f3efcf;
    float: left;
    width: 300px;
    padding-left: 20px;
    padding-top: 15px;
    height: 15px;
}

.updateprogress {
    position: fixed;
    top: 30px;
    left: 30px;
    background: rgba(0, 0, 0, 0.85);
    width: 300px;
    height: 60px;
}

.updateprogressbar {
    background: linear-gradient(to bottom right, #004bc9, #001c9d);
    position: fixed;
    top: 30px;
    left: 30px;
    width: 150px;
    height: 60px;
    text-align: center;
}

.updatetextwrap {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 300px;
    padding-top: 20px;
    height: 40px;
    text-align: center;
    color: #f3efcf;
}

.errors {
    position: fixed;
    right: 22%;
    top: 4%;
    width: 30%;
    height: 40px;
    z-index: 59999;
}

.errorred {
    width: 40px;
    height: 40px;
    background-color: #c10000;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    margin-left: 2.5%;
    float: right;
    z-index: 9999;
}

.errorred:hover {
    box-shadow: 0 0 50px #c10000;
    cursor: default;
}

.errororange {
    width: 40px;
    height: 40px;
    background-color: #ee9c00;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    margin-left: 2.5%;
    float: right;
}

.errororange:hover {
    box-shadow: 0 0 50px #ee9c00;
    cursor: default;
}

.errorblue {
    width: 40px;
    height: 40px;
    background-color: #0033a5;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    margin-left: 2.5%;
    float: right;
}

.errorblue:hover {
    box-shadow: 0 0 50px #0033a5;
    cursor: default;
}

.errormsg {
    position: fixed;
    width: 30%;
    height: 20%;
    right: 22%;
    top: calc(5% + 40px);
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.9);
    background: linear-gradient(to bottom right, #020024, #00213c);
    border: 1px solid #e0c16f;
    color: #f3efcf;
    opacity: 1.0;

}

.errormessageimgred {
    width: 40px;
    height: 40px;
    background-color: #c10000;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    margin-right: 2.5%;
    float: left;
    color: black;
    margin-bottom: 10px;
}

.errormessageimgorange {
    width: 40px;
    height: 40px;
    background-color: #ee9c00;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    margin-right: 2.5%;
    float: left;
    color: black;
    margin-bottom: 10px;
}

.errormessageimgblue {
    width: 40px;
    height: 40px;
    background-color: #0033a5;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    margin-right: 2.5%;
    float: left;
    color: black;
    margin-bottom: 10px;
}

.errormsgtitle {
    width: 70%;
    height: 35px;
    padding-top: 5px;
    color: #f3efcf;
    font-size: 25px;
    margin-bottom: 10px;
}

.holdon {
    position: fixed;
    top: 0;
    right: 60px;
    width: calc(100% - 60px);
    height: 20px;
    -webkit-app-region: drag;
}

.play {
    font-size: 30px;
    width: calc(100% - 6px);
    height: 7.5%;
    max-height: 47px;
    min-height: 40px;
    background-color: #bb5a00;
    background: linear-gradient(to bottom right, #ac1500, #a93f00, #c35800);
    margin-top: 20%;
    text-align: center;
    padding-top: 5%;
    text-shadow: 0 0 0;
    border: 3px solid #9d4400;
}

.play:hover {
    background: linear-gradient(to bottom right, #ec1c00, #d55700, #e06400);
    cursor: pointer;
    text-shadow: 0 0 2px #fff;
    box-shadow: 0 0 5px #e06400;
    border: 3px solid #c15200;
}

.namewrap {
    width: 100%;
    height: 6%;
    margin-top: 7%;
    text-align: center;
    font-size: 2.1vw;
}

.rankwrap {
    margin-top: 26%;
    width: 100%;
    height: 25%;
}

.rankcenter {
    width: 60%;
    height: 60%;
    margin-left: 22%;
    max-width: 170px;
    max-height: 180px;
}

.rankwrap img {
    position: relative;
    width: 100%;
    height: 100%;
}

.break {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.rankname {
    width: 100%;
    height: 6%;
    margin-top: 3%;
    text-align: center;
    font-size: 1.6vw;
}

.bottombar {
    position: fixed;
    bottom: 2%;
    right: 0.5%;
    width: 20%;
    height: 5%;
}

.bottombutton {
    width: 24%;
    height: 100%;
    min-height: 24px;
    float: right;
    margin-left: 3%;
    background: linear-gradient(to bottom right, #020024, #00213c);
    border: 1px solid #e0c16f;
    text-align: center;
    font-size: 1.95vw;
    font-weight: 700;
    padding-top: 0.3%;
}

.bottombutton img {
    width: 45%;
    height: 90%;
    padding-top: 1%;
}

.bottombutton:hover {
    background: linear-gradient(to bottom right, #00729d, #005087);
    cursor: pointer;
}

.friendslist {
    position: fixed;
    top: 21%;
    right: 0.5%;
    width: 19%;
    height: 68%;
    background: linear-gradient(to bottom right, #020024, #00213c);
    border-bottom: none;
    visibility: hidden;
}
.friendslistx {
    width: 12%;
    height: 65%;
    background-color: #d13535;
    float: right;
    margin-right: 2%;
    margin-top: -7%;
    text-align: center;
    font-size: 1.8vw;
    color: #5b1a1a;
    text-shadow: 0 0 0;
}
.friendslistx {
    cursor: pointer;
    background-color: #e63b3b;
}

.friendsfilter {
    width: 94%;
    height: 10%;
    padding-left: 6%;
    padding-bottom: 4%;
    padding-top: 1%;
    border-top: 1px solid #e0c16f;
    border-left: 1px solid #e0c16f;
    border-right: 1px solid #e0c16f;
    font-size: 1.0vw;
}

.friendsfilter input {
    width: 75%;
    height: 55%;
    margin-top: 1%;
    background: linear-gradient(to bottom right, #00729d, #005087);
    border: 1px solid #e0c16f;
    text-align: center;
    color: #f3efcf;
}

.friendwrap {
    width: 100%;
    height: 90.5%;
    border: 1px solid #e0c16f;
    overflow: auto;
}

.friend {
    width: calc(98%);
    height: 18.3%;
    padding: 1%;
    border-bottom: 1px solid #e0c16f;
    background: linear-gradient(to bottom right, #020024, #003c6d);
}

.friendlistavatar {
    width: 28%;
    height: 100%;
    background-color: red;
    float: left;
}

.friendlistname {
    width: 100%;
    height: 38%;
    padding-top: 4%;
    text-align: center;
    font-size: 1.5vw;
}

.friendliststatus {
    width: 100%;
    height: 30%;
    padding-top: 2%;
    text-align: center;
    font-size: 1.2vw;
    text-shadow: 0 0 0;
}
.friendmsgicon {
    position: relative;
    width: 9%;
    height: 28%;
    margin-top: -10%;
    margin-left: 88.5%;
    text-align: center;
    color: white;
    text-shadow: 0 0 0;
    font-size: 2vw;
    font-weight: lighter;
}
.friendmsgicon img {
    width: 97%;
    height: 80%;
}
.friendmsgicon:hover {
    cursor: pointer;
}
.online {
    color: #05d631;
}
.busy {
    color: #e3b400;
}
.offline {
    color: #a13500;
}
.alertlist {
    position: fixed;
    top: 21%;
    right: 0.5%;
    width: 19%;
    height: 70.2%;
    background: linear-gradient(to bottom right, #020024, #00213c);
    border-bottom: none;
    visibility: hidden;
}
.alertsection {
    width: 100%;
    height: 10%;
    padding-bottom: 0.5%;
    padding-top: 4%;
    border: 1px solid #e0c16f;
    text-align: center;
    font-size: 2.0vw;
}
.alertwrap {
    width: 100%;
    height: 87.8%;
    overflow: auto;
    border-right: 1px solid #e0c16f;
    border-left: 1px solid #e0c16f;
    border-bottom: 1px solid #e0c16f;
}
.alert {
    position: relative;
    width: 100%;
    height: 18.3%;
    background: linear-gradient(to bottom right, #020024, #003c6d);
    border-bottom: 1px solid #e0c16f
}
.alertwrap2 {
width: 95%;
height: 100%;
}
.alerttitle {
    width: 100%;
    height: 47%;
    padding-top: 3%;
    text-align: center;
    font-size: 1.6vw;
}
.alertdesc {
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 1.1vw;
}
.alertgame {
    width: 10%;
    height: 100%;
    border-left: 1px solid #e0c16f;
    float: right;
}
.acceptgame {
    width: 120%;
    height: 37%;
    margin-left: 16.5%;
    margin-top: 24%;
    text-align: center;
    font-size: 1.2vw;
    padding-top: 3%;
    background: linear-gradient(to bottom right, #12773b, #0cbe00);
}
.acceptgame:hover {
    cursor: pointer;
    background: linear-gradient(to bottom right, #189f4f, #0ed600);
}
.declinegame {
    width: 120%;
    height: 39%;
    margin-left: 16.5%;
    margin-top: 18%;
    font-size: 1.6vw;
    padding-top: 1%;
    text-align: center;
    background: linear-gradient(to bottom right, #960700, #be2000);
}
.declinegame:hover {
    cursor: pointer;
    background: linear-gradient(to bottom right, #b10500, #e33100);
}